*/bin
*/gen
*/build
*/*/build
*/.gradle
*/.idea
*/local.properties
*/*.iml
*/*/*.iml
.gradle
*/*/bugly
*/lenovoCloud/robust


*/*/Private60
*/*/Public

.idea

# bundler
.bundle
vendor/
Gemfile.lock
build/
fastlane/report.xml
fastlane/PUBLISH_INFO.yml

.DS_Store
*/.DS_Store
*/*/.DS_Store

